  <h2>Tasks</h2>  
  
  <ul class="tasks">
  {{#each tasks}}
    <li class="task">
      <span>
        <a href="/tasks/{{task}}">{{task}}</a><br>
      </span>
    </li>
  {{/each}}
  </ul>

<a href="/">Go Back</a>